APP_ENV=local
APP_VERSION=dev
APP_RELEASED_AT=
RELEASE_REPOSITORY=ricardoespsanto/mycfc
LOG_LEVEL=debug

GIT_SHA=0000000000000000000000000000000000000000

PORT=8080
BASE_URL=http://localhost:8080

DATABASE_URL="postgres://mycfc:mycfc_local_only@localhost:5432/mycfc?sslmode=disable"

CSRF_AUTH_KEY_B64=LZdjPbuIYuxd0CIuSGblpLDwUa2Ey1UVoBXP1opWnds=
EMAIL_VERIFICATION_HMAC_KEY_B64=MDEyMzQ1Njc4OWFiY2RlZjAxMjM0NTY3ODlhYmNkZWY=
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_ADDRESS=mycfc@example.test
SMTP_FROM_NAME=MyCFC
SMTP_TLS_MODE=none
SMTP_TIMEOUT=10s
POSTGRES_DB=mycfc
POSTGRES_USER=mycfc
POSTGRES_PASSWORD=mycfc_local_only

AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=mycfc_local
AWS_SECRET_ACCESS_KEY=mycfc_local_password_change_not_prod
MINIO_KMS_SECRET_KEY=mycfc-local:MDEyMzQ1Njc4OWFiY2RlZjAxMjM0NTY3ODlhYmNkZWY=

S3_BUCKET_NAME=mycfc-local
S3_ENDPOINT=http://localhost:9000
S3_FORCE_PATH_STYLE=true

GALLERY_URL=http://localhost:8080/gallery


CONSENT_TERMS_VERSION=0.0.1
CONSENT_TERMS_SHA256=a1b2c3d4e5f67890123456789abcdef0123456789abcdef0123456789abcdef0
CONSENT_TERMS_URL=http://localhost:8080/legal/termos-gerais
CONSENT_IMAGE_VERSION=0.0.1
CONSENT_IMAGE_SHA256=a1b2c3d4e5f67890123456789abcdef0123456789abcdef0123456789abcdef0
CONSENT_IMAGE_URL=http://localhost:8080/legal/uso-imagem
CONSENT_MINOR_VERSION=0.0.1
CONSENT_MINOR_SHA256=a1b2c3d4e5f67890123456789abcdef0123456789abcdef0123456789abcdef0
CONSENT_MINOR_URL=http://localhost:8080/legal/responsabilidade-menor
