APP_ENV=DEV
APP_VERSION=0.0.1
LOG_LEVEL=debug

GIT_SHA=

PORT=8080
BASE_URL=http://localhost

DATABASE_URL="postgres://mycfc:mysecretpassword@localhost:5432/mycfc?sslmode=disable"

CSRF_AUTH_KEY_B64=

POSTGRES_DB=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword

AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=something
AWS_SECRET_ACCESS_KEY=somethingelse

S3_BUCKET_NAME=s3-cfc-bucket
S3_ENDPOINT=
S3_FORCE_PATH_STYLE=


GOOGLE_CALENDAR_API_KEY=
CALENDAR_COMPETITION_ID=
CALENDAR_TRAINING_ID=
CALENDAR_SOCIAL_ID=
CALENDAR_CLEANUPS_ID=

GALLERY_URL=


CONSENT_TERMS_VERSION=
CONSENT_TERMS_SHA256=
CONSENT_IMAGE_VERSION=
CONSENT_IMAGE_SHA256=
CONSENT_MINOR_VERSION=
CONSENT_MINOR_SHA256=
