APP_ENV=local
APP_VERSION=0.0.1
LOG_LEVEL=debug

GIT_SHA=

PORT=8080
BASE_URL=http://localhost

DATABASE_URL="postgres://mycfc:mysecretpassword@localhost:5432/mycfc?sslmode=disable"

CSRF_AUTH_KEY_B64=LZdjPbuIYuxd0CIuSGblpLDwUa2Ey1UVoBXP1opWnds=
POSTGRES_DB=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword

AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=something
AWS_SECRET_ACCESS_KEY=somethingelse

S3_BUCKET_NAME=s3-cfc-bucket
S3_ENDPOINT=
S3_FORCE_PATH_STYLE=


GOOGLE_CALENDAR_API_KEY=change_me
CALENDAR_COMPETITION_ID=change_me
CALENDAR_TRAINING_ID=change_me
CALENDAR_SOCIAL_ID=change_me
CALENDAR_CLEANUPS_ID=change_me

GALLERY_URL=http://localhost:8080/gallery


CONSENT_TERMS_VERSION=0.0.1
CONSENT_TERMS_SHA256=a1b2c3d4e5f67890123456789abcdef0123456789abcdef0123456789abcdef0
CONSENT_IMAGE_VERSION=0.0.1
CONSENT_IMAGE_SHA256=a1b2c3d4e5f67890123456789abcdef0123456789abcdef0123456789abcdef0
CONSENT_MINOR_VERSION=0.0.1
CONSENT_MINOR_SHA256=a1b2c3d4e5f67890123456789abcdef0123456789abcdef0123456789abcdef0
